hello-world/src/main/app/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"

      xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
		http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
	">

    <flow name="main.1">
        <vm:inbound-endpoint path="in"/>
        <set-payload value="Hello, #[payload]!"/>
        <set-variable variableName="aVariable" value="13" />
        <set-property propertyName="firstOutboundProperty" value="1" />
        <set-session-variable variableName="sessionVar" value="sess" />
        <vm:outbound-endpoint path="second"/>
    </flow>

    <flow name="main.2">
        <vm:inbound-endpoint path="second"/>
        <set-variable variableName="anotherVariable" value="13" />
        <set-property propertyName="secondOutboundProperty" value="2" />
        <vm:outbound-endpoint path="out"/>
    </flow>
</mule>
